roostats*.root
higgsCombine*root
.__*
LSFJOB*
roostats*
macros/*.so
macros/*_dict_rdict.pcm
macros/*_C.d
*.so
*_dict_rdict.pcm
*_C.d
Datacards/
workSpaces/
macros/sh/*slrm
macros/sh/*sh
macros/sh/*txt
macros/batchjobs*.out
macros/batchjobs*.err
.nfs*
